    const adicionarJogo = async (req, res) => {

    const { rodada, id_mandante, id_visitante, gols_mandante, gols_visitante } = req.body


    
    
    
    try {

        const mandante = await knex('times_serie_a')
            .where('id', id_mandante)
            .first();

        if (!mandante) {
            return res.status(400).json({ mensagem: 'Time informado não existe.' })
        }

        const visitante = await knex('times_serie_a')
            .where('id', id_visitante)
            .first();

        if (!visitante) {
            return res.status(400).json({ mensagem: 'Time informado não existe.' })
        }

        await knex('classificacao_serie_a')
            .where('time', id_mandante)
            .increment('pontos', gols_visitante)

        const mandante_time = await knex('times_serie_a')
            .select('time')
            .where('id', id_mandante)



        const visitante_time = await knex('times_serie_a')
            .select('time')
            .where('id', id_visitante)


        const cadastrarJogo = await knex('tabela_de_jogos')
            .insert({
                rodada,
                time_mandante: mandante_time[0].time,
                time_visitante: visitante_time[0].time,
                gols_mandante,
                gols_visitante

            })
            .returning('*')





        return res.status(201).json({
            mensagem: 'ok',
            partida: `Placar final ->${mandante_time[0].time}  ${gols_mandante} X ${gols_visitante} ${visitante_time[0].time} `
        })

    } catch (error) {
        console.error(error.message);
        return res.status(500).json({ mensagem: 'Erro interno do servidor.' });
    }

}